extends ../templates/_section.pug

block props
  -
    var id = 'books'
    var title = 'Книги'

    var cards = [
      {
        title: 'JavaScript для детей',
        text: 'В книге при помощи библиотеки jQuery показываются первые шаги в написании веб-приложений. Первые скрипты, работа с графикой и анимацией, инструменты разработчика. Если вы никогда раньше не сталкивались с веб-разработкой, не стесняйтесь названия и начните с этой книги.',
        href: 'https://www.ozon.ru/product/javascript-dlya-detey-samouchitel-po-programmirovaniyu-138148848/'
      },
      {
        title: 'Грокаем алгоритмы',
        text: 'По аналогии эту книгу можно назвать "Алгоритмы для детей". Очень простым языком объясняются базовые структуры данных, алгоритмы, включая оценку их сложности. После ее прочтения вы легко сможете сравнить производительность линейного и бинарного поиска с соответствии с О&#8209;нотацией, даже если не данный момент это вам абсолютно ни о чем не говорит.',
        href: 'https://www.ozon.ru/context/detail/id/139296295/'
      },
      {
        href: 'https://refactoring.guru/ru/',
        title: 'Рефакторинг и Паттерны',
        text: 'Эта книга тех, кто уже уверенно пишет простые скрипты на JS, но не понимает как перейти к более объемным приложениям. Реализация и поддержка сложных проектов требует соблюдения определенных принципов и применения определенных решений. К счастью часто не нужно изобретать велосипед и достаточно правильно применять проверенные принципы и паттерны проектирования.',
      },
    ]