div(style='min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center')
  .flow-text.center-align(style='margin-bottom: 2em')
    | Всем привет! Меня зовут Евгений!
    | На этой странице я решил собрать основные ресуры, которые могут служить отправной точкой для тех, кто решил <em><b>самостоятельно</b></em> изучать веб-разработку.

  a.btn-large.green.lighten-2.waves-effect(href='list.html')
    .flow-text Перейти к списку