div(style='min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center')
  .flow-text.center-align(style='margin-bottom: 2em')
    | Всем привет! Меня зовут Евгений!
    br
    | Возможно вы видели смотрели выпуск <a href='https://www.youtube.com/watch?v=yVYRpe89hD4&ab_channel=WebInterview' target='_blank'>WebInterview</a> с моим участием и хотели спросить, какие именно материалы я использовал для самообразования 
    br
    | На этой странице я собрал список ресурсов, послуживших <strong>отправной</strong> точкой в моем <strong>самостоятельном</strong> изучении веб-разработки.

  a.btn-large.green.lighten-2.waves-effect(href='list.html')
    .flow-text Перейти к списку