extends ../templates/_section.pug

block props
  -
    var id = 'interactives'
    var title = 'Тренажеры'
    var cards = [
      {
        href: 'https://www.freecodecamp.org/',
        title: 'FreeCodeCamp',
        text: 'Сборник тренажеров по фронтенду начиная от HTML/CSS и заканчивая React-Redux. Есть песочница для проверки алгоритмических задач из <a href="https://euler.jakumo.org/problems.html target="_blank" rel="noopener">Проекта Эйлера</a>'
      },
      {
        href: 'https://htmlacademy.ru/',
        title: 'HTMLAcademy',
        text: 'Очень много интересных тренажеров по базовым технологиям. К сожалению доступ платный, но цена приемлемая.'
      },
      {
        href: 'https://codesignal.com/',
        title: 'Codesignal',
        text: 'Площадка для решения алгоритмических задач. Можно использовать разные языки, в том числе JS. Задачи структурированы по сложности и по темам. Отсутствие подписки и виртуальной валюты не блокирует доступ к ресурсу, а только лимитирует порядок доступа к задачам и подсказки.'
      },
      {
        href: 'https://www.codewars.com/',
        title: 'Codewars',
        text: 'Площадка для решения алгоритмических задач. Можно использовать разные языки, в том числе JS. Задачи распределены по уровням. Можно прокачивать свой уровень решая все более сложные задачи. Ограничений на выбор задач нет.'
      },
    ]