extends ../templates/_navbar.pug

block props
  - 
    var links = [
      {
        anchor: 'books',
        text: 'Книги'
      },
      {
        anchor: 'online-books',
        text: 'Он-лайн учебники'
      },
      {
        anchor: 'interactives',
        text: 'Тренажеры'
      },
      {
        anchor: 'video',
        text: 'Видео-уроки'
      },
      {
        anchor: 'other',
        text: 'Разное'
      },
    ]