extends ../templates/_section.pug

block props
  -
    var id = 'online-books'
    var title = 'Он-лайн учебники, справочники'
    var cards = [
      {
        href: 'https://learn.javascript.ru/',
        title: 'Learn Javascript',
        text: 'На мой взгляд это самый лучший учебник для изучения JS на русском языке. Является качественным переводом оригинального ресурса <a href="https://javascript.info/" target="_blank" rel="noopener">javascript.info</a>. Информация хорошо структурирована, много примеров, есть задачи для практики. Регулярно обновляется.',
      },
      {
        href: 'https://developer.mozilla.org/',
        title: 'MDN Web Docs',
        text: 'Самый актуальный справочник по базовым технологиям веб-разработки. Лучше пользоваться английской версией, т.к. переводов на русский мало, а их корректность не проверена.',
      },
      {
        href: 'https://www.w3schools.com/',
        title: 'W3Schools',
        text: 'Сборник туториалов и справочников по веб-разработке. Информация краткая, но по всем темам есть песочница с примерами. Можно пользоваться как интерактивным справочником по различным веб-технологиям.',
      },
      {
        href: 'https://metanit.com/',
        title: 'METANIT',
        text: 'Сайт о программировании, в том числе есть раздел по веб-разработке. Материалы изложены в формате учебника с примерами.',
      },
    ]  