extends ../templates/_section.pug

block props
  -
    var id = 'other'
    var title = 'Разное'
    var cards = [
      {
        href: 'https://www.youtube.com/channel/UCMtlICYxr6Dz_PG9_SVqRYQ',
        title: 'Академия Яндекса',
        text: 'Лекции по фронтенду на различные темы',
      },
      {
        href: 'https://css-tricks.com/',
        title: 'CSS Tricks ',
        text: 'Статьи по различным CSS приемам',
      },
        {
        href: 'https://www.youtube.com/channel/UCaTfYudJUVA8cV_But8KZVQ',
        title: 'Вадим Макеев',
        text: 'Обзоры по доступности веб-интерфейсов'
      },
      {
        href: 'https://www.youtube.com/channel/UC72FljP7m2CyHynI5fQ_Puw',
        title: 'WebInterview',
        text: 'Типовые вопросы и задачи из собеседований на позицию фронтенд-разработчика.'
      },
      {
        href: 'https://www.youtube.com/channel/UChpkp-Gr6_TEefYvKbV74bw',
        title: 'Отсобеседование',
        text: 'Шоу в котором кандидат пытается пройти собеседование на позицию фронтенд разработчика. Вопросы на глубину понимания теории, без алгоритмических задач и лайвкодинга.'
      },
      {
        href: 'https://www.youtube.com/channel/UCmI5YBB9KJ0xLtFtgBX8rfw',
        title: 'Front-end Science c Сергеем Пузанковым',
        text: 'Различный контент на тему фронтенда. Советы по прохождению собеседований, разборы портфолио и резюме.'
      },
    ]  