extends ../templates/_section.pug

block props
  -
    var id = 'video'
    var title = 'Видео-уроки'
    var cards = [
      {
        href: 'https://www.youtube.com/channel/UCg8ss4xW9jASrqWGP30jXiw',
        title: 'Владилен Минин',
        text: 'На мой взгляд один из лучших проектов на youtube по фронтенду. Начиная от классического JS и паттернов до основных фреймворков - React, Vue, Angular.',
      },
      {
        href: 'https://www.youtube.com/channel/UCedskVwIKiZJsO8XdJdLKnA',
        title: 'Фрилансер по жизни',
        text: 'Очень много уроков по верстке',
      },
      {
        href: 'https://www.youtube.com/user/webformyself/featured',
        title: 'WebForMyself',
        text: 'Различные уроки также от Владилена Минина',
      },
      {
        href: 'https://www.youtube.com/channel/UCTW0FUhT0m-Bqg2trTbSs0g',
        title: 'IT-Kamasutra',
        text: 'Большой бесплатный курс по React'
      },
      {
        href: 'https://www.youtube.com/channel/UCDzGdB9TTgFm8jRXn1tBdoA',
        title: 'Ulbi TV',
        text: 'Много полезного по разным темам, javascript, backend, frontend, базы данных, алгоритмы и многое другое'
      }
    ]